<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>in static folder</h1>
<!--<a th:href="@{/user}">get user with param </a>-->
<!--&lt;!&ndash;<p th:text="${nameAttribute}"></p>&ndash;&gt;-->
<!--<a th:href="@{/employee}">访问员工信息</a>-->
<!--<a href="/Alluser">get user</a>-->
<!--<a href="/success?name=1">to success</a>-->
<!--<form action="/user" method="post">-->
<!--&lt;!&ndash;    <input type="hidden" name="_method" value="DELETE"/>&ndash;&gt;-->
<!--    <input type="text" name="username"/>-->
<!--    <input type="submit" value="put"/>-->
<!--</form>-->

</body>
</html>